* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  overflow-x: hidden;
  font-family: "Archivo", sans-serif;
}

nav {
  position: absolute;
  color: #d3d3d3;
  font-weight: bold;
  height: 5vh;
  line-height: 5vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  z-index: 5;
}

nav .nav__btn {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 35px;
  height: 35px;
  cursor: pointer;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  margin: auto 10px;
}

nav .nav__btn .nav__btn__burger {
  height: 5px;
  width: 35px;
  background-color: #d3d3d3;
  border-radius: 5px;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

nav .nav__btn .nav__btn__burger::after,
nav .nav__btn .nav__btn__burger::before {
  content: '';
  position: absolute;
  height: 5px;
  width: 35px;
  background-color: #d3d3d3;
  border-radius: 5px;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

nav .nav__btn .nav__btn__burger::after {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

nav .nav__btn .nav__btn__burger::before {
  -webkit-transform: translateY(10px);
          transform: translateY(10px);
}

nav .nav__btn.open .nav__btn__burger {
  -webkit-transform: translateX(-50px);
          transform: translateX(-50px);
  background: transparent;
}

nav .nav__btn.open .nav__btn__burger::after {
  -webkit-transform: rotate(45deg) translate(35px, -35px);
          transform: rotate(45deg) translate(35px, -35px);
}

nav .nav__btn.open .nav__btn__burger::before {
  -webkit-transform: rotate(-45deg) translate(35px, 35px);
          transform: rotate(-45deg) translate(35px, 35px);
}

.menu {
  display: none;
}

.menu .circle {
  height: 300vh;
  width: 300vw;
  background-color: black;
  z-index: 4;
  border-radius: 50%;
  position: absolute;
  -webkit-transform: translate(150vw, -150vh);
          transform: translate(150vw, -150vh);
  -webkit-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
  margin: 0;
  padding: 0;
}

.menu .circle p {
  font-size: 15rem;
  color: #d3d3d3;
  display: block;
  position: absolute;
  bottom: 20%;
  left: 20%;
  font-family: "Archivo", sans-serif;
  font-weight: bold;
  opacity: .1;
}

.menu .circle--active {
  -webkit-transform: translate(-50vw, -150vh);
          transform: translate(-50vw, -150vh);
}

.main {
  height: 100vh;
  width: 100%;
  background: radial-gradient(41.22% 36.06% at 25.66% 51.27%, #343434 0%, #131313 100%);
  color: #d3d3d3;
  font-family: "Archivo", sans-serif;
}

.main .main__logo {
  position: absolute;
  top: 15px;
  left: 15px;
  width: 40px;
  height: 66px;
}

.main .main__img {
  height: 100vh;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
  opacity: 0;
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-animation: main-animation 22s infinite linear;
          animation: main-animation 22s infinite linear;
}

.main .main__img--2 {
  height: 100vh;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
  opacity: 0;
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-animation: main-animation-2 22s 10s infinite linear;
          animation: main-animation-2 22s 10s infinite linear;
}

.main .main__header {
  font-size: 90px;
  position: absolute;
  top: 30%;
  left: 10%;
}

.main .main__header--second {
  font-size: 3rem;
  position: absolute;
  left: 10%;
  top: 50%;
  letter-spacing: 2px;
  border-bottom: 5px solid #d3d3d3;
}

.main .main__header--second::before {
  content: '';
  position: absolute;
  border-bottom: 5px solid #d3d3d3;
  width: 300px;
  bottom: -5px;
  left: -300px;
}

.main .header__span {
  color: #F6C823;
}

.main .main__line1 {
  position: absolute;
  width: 99.5%;
  height: 5px;
  background-color: #d3d3d3;
  bottom: 15%;
}

.main .main__line2 {
  position: absolute;
  width: 99.5%;
  height: 5px;
  background-color: #d3d3d3;
  bottom: 25%;
}

.main .main__line3 {
  position: absolute;
  width: 99.5%;
  height: 5px;
  background-color: #d3d3d3;
  bottom: 35%;
}

.main .main__social {
  position: absolute;
  bottom: 0;
  height: 5vh;
  width: 80%;
  left: 10%;
}

.main .main__social a {
  text-decoration: none;
  color: #d3d3d3;
  padding-right: 10px;
}

@-webkit-keyframes main-animation {
  0% {
    opacity: 0;
    right: 0;
  }
  5% {
    opacity: 1;
    right: .5%;
  }
  45% {
    opacity: 1;
    right: 3%;
  }
  50% {
    opacity: 0;
    right: 4%;
  }
}

@keyframes main-animation {
  0% {
    opacity: 0;
    right: 0;
  }
  5% {
    opacity: 1;
    right: .5%;
  }
  45% {
    opacity: 1;
    right: 3%;
  }
  50% {
    opacity: 0;
    right: 4%;
  }
}

@-webkit-keyframes main-animation-2 {
  0% {
    opacity: 0;
    right: 4.5%;
  }
  5% {
    opacity: 1;
    right: 4%;
  }
  45% {
    opacity: 1;
    right: 1%;
  }
  50% {
    opacity: 0;
    right: 0;
  }
}

@keyframes main-animation-2 {
  0% {
    opacity: 0;
    right: 4.5%;
  }
  5% {
    opacity: 1;
    right: 4%;
  }
  45% {
    opacity: 1;
    right: 1%;
  }
  50% {
    opacity: 0;
    right: 0;
  }
}

.stuff--up {
  background-color: black;
  -webkit-transition: 1s;
  transition: 1s;
}

.stuff {
  height: 100vh;
  width: 100%;
  overflow: hidden;
  position: relative;
  -webkit-transition: 1s;
  transition: 1s;
}

.stuff .line__container {
  height: 20vh;
  width: 3000px;
  -webkit-transform: rotate(-45deg) translate(-800px, -800px);
          transform: rotate(-45deg) translate(-800px, -800px);
  position: relative;
  -webkit-transition: 1s;
  transition: 1s;
}

.stuff .line__container .line {
  height: 5px;
  width: 100%;
  background-color: #1F1F1F;
  position: absolute;
  top: 50%;
}

.stuff .line__container .line::before,
.stuff .line__container .line::after {
  content: '';
  height: 5px;
  width: 100%;
  background-color: #1F1F1F;
  position: absolute;
}

.stuff .line__container .line::after {
  -webkit-transform: translateY(75px);
          transform: translateY(75px);
}

.stuff .line__container .line::before {
  -webkit-transform: translateY(-75px);
          transform: translateY(-75px);
}

.stuff .line__container--up {
  -webkit-transform: rotate(0deg) translate(0px, 0px);
          transform: rotate(0deg) translate(0px, 0px);
  -webkit-transition: 1s;
  transition: 1s;
}

.stuff .stuff__header {
  position: absolute;
  bottom: 25%;
  left: 10%;
  font-size: 3rem;
  -webkit-transition: 2s;
  transition: 2s;
}

.stuff .stuff__header--up {
  bottom: 5%;
  opacity: 0;
  -webkit-transition: 2s;
  transition: 2s;
}

.about {
  height: 100vh;
  width: 100%;
  background-color: black;
  -webkit-transition: 1s;
  transition: 1s;
}

.about--up {
  background-color: #fff;
}
/*# sourceMappingURL=style.css.map */