* {
    margin: 0;
    padding: 0;
}

$font-color: #d3d3d3;
$font-color-gold: #F6C823;
$font-family: 'Archivo',
sans-serif;


.main {
    height: 100vh;
    width: 100%;
    background: radial-gradient(41.22% 36.06% at 25.66% 51.27%, #343434 0%, #131313 100%);
    color: $font-color;
    font-family: $font-family;

    .main__logo {
        position: absolute;
        top: 15px;
        left: 15px;

        width: 40px;
        height: 66px;
    }


    .main__img {
        height: 100vh;
        position: absolute;
        bottom: 0;
        right: 0;
    }

    .main__header {
        font-size: 90px;
        position: absolute;
        top: 30%;
        left: 10%;
    }

    .main__header--second {
        font-size: 40px;
        position: absolute;
        left: 10%;
        top: 50%;
        letter-spacing: 2px;
    }



    // .main__header--second::before {
    //     content: "";
    //     display: block;
    //     width: 100px;
    //     float: left;
    //     border-top: 5px solid white;
    // }

    .header__span {
        color: $font-color-gold;
    }
}