* {
  margin: 0;
  padding: 0;
}

.container {
  height: 100vh;
  width: 100%;
  background-image: url(imgs/bimg.JPG);
  background-position: center;
  background-size: cover;
}

p {
  transform: translateY(25vh);
  text-align: center;
  font-size: 4rem;
  font-weight: bold;
  color: white;
  font-family: "Montserrat", sans-serif;
}