*{
    margin: 0;
    padding: 0;
}

.container{
    height: 100vh;
    width: 100%;
    background: linear-gradient(90deg, rgba(42,42,42,1) 0%, rgba(87,87,87,1) 45%, rgba(98,98,98,1) 100%);
}

p{
    transform: translateY(25vh);
    text-align: center;
    font-size: 3rem;
    font-family: 'Montserrat', sans-serif;
}