* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

$font-color: #A3A3A3;
$font-color-gold: #F6C823;
$font-color-dark: #1F1F1F;
$font-family: 'Roboto Slab',
serif;
;

body {
    overflow-x: hidden;
    font-family: $font-family;

}

.navigation {
    position: absolute;
    width: 100%;
    display: flex;
    height: 5vh;
    justify-content: flex-end;
    align-items: center;
    z-index: 6;

    a {
        color: $font-color;
        font-weight: 100;
        text-decoration: none;
        transition: .3s;
    }

    .navigation__list {
        display: flex;
        list-style: none;
        align-items: center;


        .navigation__list__item {
            padding: 20px;
            position: relative;
            transition: .3s;

            a:hover {
                color: $font-color-gold;
                border-bottom: 1px solid $font-color-gold;
            }
        }


        .navigation__list__item:nth-last-child(1) {
            a {
                color: $font-color-gold;
            }

        }



    }



}

.aside-navigation {
    position: fixed;
    right: 1rem;
    height: 40vh;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    z-index: 6;

    .navigation__item {
        height: 2vh;

        font-size: .7rem;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .links {
            text-decoration: none;
            color: $font-color;
            transition: .3s;

            span {
                position: absolute;
                right: 100%;
                display: none;

            }
        }
    }

    .navigation__item:hover {
        .links {
            color: $font-color-gold;

            span {
                display: block;
            }
        }
    }

}

.main {
    overflow-x: hidden;
    height: 100vh;
    width: 100%;
    background: radial-gradient(84.44% 166.99% at -11.15% -4.74%, #5C5C5C 0%, #000000 100%), #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: $font-color;
    font-family: $font-family;

    .main__gold-frame {
        position: absolute;
        height: 60vh;
        width: 30vh;

        border: solid 2px gold;
        right: 25%;
        top: 50%;
        transform: translateY(-50%);
    }


    .main__logo {
        position: absolute;
        top: 15px;
        left: 15px;
        width: 40px;
        height: 66px;
    }


    .main__img {
        height: 100vh;
        position: absolute;
        bottom: 0;
        right: 5%;
        z-index: 1;
        transition: 1s;
    }

    .main__header {
        color: $font-color-gold;
        font-weight: 300;
        font-size: 2.5rem;
        left: 10%;
        top: 50%;
        position: absolute;
    }


    .main__header--second {
        font-size: 2rem;
        font-weight: 300;
        position: absolute;
        bottom: 30%;
        left: 10%;

    }

    .main__header--third {
        font-size: 1rem;
        font-weight: 100;
        position: absolute;
        left: 10%;
        bottom: 25%;
    }



    .header__span {
        color: $font-color-gold;
        font-weight: 100;
    }



    .main__social {
        position: absolute;
        bottom: 0;
        height: 5vh;
        width: 80%;
        left: 10%;
        font-weight: 500;
        font-size: .8rem;

        a {
            text-decoration: none;
            color: $font-color;
            padding-right: 20px;

            i {
                display: none;
            }
        }

        a:hover {
            color: $font-color-gold
        }
    }

}

.stuff--up {
    background-color: black;
    transition: 1s;
}

.stuff {
    height: 100vh;
    width: 100%;
    overflow: hidden;
    position: relative;
    transition: 1s;

    .stuff__line__container {
        height: 20vh;
        width: 3000px;
        transform: rotate(-45deg) translate(-800px, -800px);
        position: relative;
        transition: 1s;

        .line {
            height: 5px;
            width: 100%;
            background-color: $font-color-dark;
            position: absolute;
            top: 50%;
        }

        .line::before,
        .line::after {
            content: '';
            height: 5px;
            width: 100%;
            background-color: $font-color-dark;
            position: absolute;
        }

        .line::after {
            transform: translateY(75px);
        }

        .line::before {
            transform: translateY(-75px);
        }
    }

    .stuff__line__container--up {
        transform: rotate(0deg) translate(0px, 0px);
        transition: 1s;

    }

    .stuff__container {
        height: 60vh;
        width: 60vh;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translateY(-50%);
        box-shadow: 15px -15px 38px -6px rgba(201, 201, 201, 1);

    }

    .stuff__header {
        position: absolute;
        bottom: 25%;
        left: 10%;
        font-size: 3rem;
        transition: 2s;
    }

    .stuff__header--up {
        bottom: 0;
        opacity: 0;
        transition: 2s;
    }

}

.about {
    height: 100vh;
    width: 100%;
    background: black;
    transition: 1s;
    overflow: hidden;
    position: relative;

    .about__line__container {
        height: 20vh;
        width: 3000px;
        transform: rotate(-90deg) translate(-800px, -1200px);
        position: relative;
        transition: 1s;


        .line {
            height: 5px;
            width: 100%;
            background-color: $font-color;
            position: absolute;
            top: 50%;

        }

        .line::before,
        .line::after {
            content: '';
            height: 5px;
            width: 100%;
            background-color: $font-color;
            position: absolute;
        }

        .line::after {
            transform: translateY(75px);
        }

        .line::before {
            transform: translateY(-75px);
        }

    }

    .about__line__container--up {
        transform: rotate(0deg) translate(0px, 0px);
        transition: 1s;
    }

    .about__img__container {
        position: absolute;
        bottom: 0;
        height: 100vh;
        width: 60vh;

        img {
            width: 100%;
        }
    }

}

.about--up {
    background-color: #fff;
}

.contact {
    height: 100vh;
}

@media(max-width: 768px) {
    .main {
        .main__logo {
            left: 2%;
        }

        .main__img {
            height: 80%;
            animation: none;
            opacity: 1;
        }

        .main__img--2 {
            display: none;
        }

        .main__header {
            font-size: 2.5rem;
            top: 77%;
            left: 5%;
            z-index: 5;
        }

        .main__header--second {
            font-size: 1.5rem;
            top: 85%;
            left: 5%;
            z-index: 5;
            border: none;
        }

        .main__header--second::before {
            display: none;
        }

        .main__social {
            display: flex;
            flex-direction: column;
            top: 20%;
            left: 5%;

            a {
                padding: 10px 0;

                i {
                    font-size: 1.5rem;
                }

                span {
                    display: none;
                }

                i {
                    display: block;
                }
            }


        }

        .main__line2 {
            z-index: 5;
        }
    }

    .stuff {


        .stuff__line__container {
            transform: rotate(-45deg) translate(-900px, -900px);
        }

        .stuff__line__container--up {
            transform: rotate(0deg) translate(0px, 0px);
            transition: 1s;
        }

        .stuff__header {
            left: 5%;
            bottom: 5%;
        }

        .stuff__header--up {
            bottom: 0;
            opacity: 0;
            transition: 2s;
        }
    }


}