* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

$font-color: #d3d3d3;
$font-color-gold: #F6C823;
$font-color-dark: #1F1F1F;
$font-family: 'Archivo',
sans-serif;

body {
    overflow-x: hidden;
    font-family: $font-family;

}



nav {
    position: absolute;
    color: $font-color;
    font-weight: bold;
    height: 5vh;
    line-height: 5vh;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    z-index: 5;

    .nav__btn {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 35px;
        height: 35px;
        cursor: pointer;
        transition: all .5s ease-in-out;
        margin: auto 10px;



        .nav__btn__burger {
            height: 5px;
            width: 35px;
            background-color: $font-color;
            border-radius: 5px;
            transition: all .5s ease-in-out;
        }

        .nav__btn__burger::after,
        .nav__btn__burger::before {
            content: '';
            position: absolute;
            height: 5px;
            width: 35px;
            background-color: $font-color;
            border-radius: 5px;
            transition: all .5s ease-in-out;
        }

        .nav__btn__burger::after {
            transform: translateY(-10px);
        }

        .nav__btn__burger::before {
            transform: translateY(10px);
        }


    }

    .nav__btn.open .nav__btn__burger {
        transform: translateX(-50px);
        background: transparent;
    }

    .nav__btn.open .nav__btn__burger::after {
        transform: rotate(45deg) translate(35px, -35px);
    }

    .nav__btn.open .nav__btn__burger::before {
        transform: rotate(-45deg) translate(35px, 35px);
    }
}

.menu {
    display: none;


    .circle {
        height: 300vh;
        width: 300vw;
        background-color: black;
        z-index: 4;
        border-radius: 50%;
        position: absolute;
        transform: translate(150vw, -150vh);
        transition: 1s ease-in-out;
        margin: 0;
        padding: 0;


        p {
            font-size: 15rem;
            color: $font-color;
            display: block;
            position: absolute;
            bottom: 20%;
            left: 20%;
            font-family: $font-family;
            font-weight: bold;
            opacity: .1;
        }
    }

    .circle--active {
        transform: translate(-50vw, -150vh);
    }
}

.main {
    overflow-x: hidden;
    height: 100vh;
    width: 100%;
    background: radial-gradient(41.22% 36.06% at 25.66% 51.27%, #343434 0%, #131313 100%);
    color: $font-color;
    font-family: $font-family;


    .main__logo {
        position: absolute;
        top: 15px;
        left: 15px;
        width: 40px;
        height: 66px;
    }


    .main__img {
        height: 100vh;
        position: absolute;
        bottom: 0;
        right: 0;
        z-index: 1;
        opacity: 0;
        transition: 1s;
        animation: main-animation 22s infinite linear;

    }

    .main__img--2 {
        height: 100vh;
        position: absolute;
        bottom: 0;
        right: 0;
        z-index: 1;
        opacity: 0;
        transition: 1s;
        animation: main-animation-2 22s 10s infinite linear;

    }

    .main__header {
        font-size: 90px;
        position: absolute;
        top: 30%;
        left: 10%;

    }

    .main__header--second {
        font-size: 3rem;
        position: absolute;
        left: 10%;
        top: 50%;
        letter-spacing: 2px;
        border-bottom: 5px solid $font-color;
    }

    .main__header--second::before {
        content: '';
        position: absolute;
        border-bottom: 5px solid $font-color;
        width: 300px;
        bottom: -5px;
        left: -300px;
    }

    .header__span {
        color: $font-color-gold;
    }

    .main__line--wrapper {
        overflow-x: hidden;
        position: absolute;
        bottom: 0;
        height: 40vh;
        width: 100%;

        .main__line1 {
            position: absolute;
            width: 99.5%;
            height: 5px;
            background-color: $font-color;
            bottom: 40%;
            overflow: hidden;
        }

        .main__line2 {
            position: absolute;
            width: 99.5%;
            height: 5px;
            background-color: $font-color;
            bottom: 60%;
            overflow: hidden;
        }

        .main__line3 {
            position: absolute;
            width: 99.5%;
            height: 5px;
            background-color: $font-color;
            bottom: 80%;
            overflow: hidden;
        }
    }


    .main__social {
        position: absolute;
        bottom: 0;
        height: 5vh;
        width: 80%;
        left: 10%;

        a {
            text-decoration: none;
            color: $font-color;
            padding-right: 10px;
        }
    }

    @keyframes main-animation {
        0% {
            opacity: 0;
            right: 0;
        }

        5% {
            opacity: 1;
            right: .5%;
        }

        45% {
            opacity: 1;
            right: 3%;
        }

        50% {
            opacity: 0;
            right: 4%;
        }



    }

    @keyframes main-animation-2 {
        0% {
            opacity: 0;
            right: 4.5%
        }

        5% {
            opacity: 1;
            right: 4%;
        }

        45% {
            opacity: 1;
            right: 1%;
        }

        50% {
            opacity: 0;
            right: 0;
        }
    }
}

.stuff--up {
    background-color: black;
    transition: 1s;
}

.stuff {
    height: 100vh;
    width: 100%;
    overflow: hidden;
    position: relative;
    transition: 1s;

    .stuff__line__container {
        height: 20vh;
        width: 3000px;
        transform: rotate(-45deg) translate(-800px, -800px);
        position: relative;
        transition: 1s;

        .line {
            height: 5px;
            width: 100%;
            background-color: $font-color-dark;
            position: absolute;
            top: 50%;
        }

        .line::before,
        .line::after {
            content: '';
            height: 5px;
            width: 100%;
            background-color: $font-color-dark;
            position: absolute;
        }

        .line::after {
            transform: translateY(75px);
        }

        .line::before {
            transform: translateY(-75px);
        }
    }

    .stuff__line__container--up {
        transform: rotate(0deg) translate(0px, 0px);
        transition: 1s;

    }

    .stuff__header {
        position: absolute;
        bottom: 25%;
        left: 10%;
        font-size: 3rem;
        transition: 2s;
    }

    .stuff__header--up {
        bottom: 5%;
        opacity: 0;
        transition: 2s;
    }

}

.about {
    height: 100vh;
    width: 100%;
    background-color: black;
    transition: 1s;
    overflow: hidden;

    .about__line__container {
        height: 20vh;
        width: 3000px;
        transform: rotate(-90deg) translate(-800px, -1200px);
        position: relative;
        transition: 1s;

        .line {
            height: 5px;
            width: 100%;
            background-color: $font-color;
            position: absolute;
            top: 50%;
        }

        .line::before,
        .line::after {
            content: '';
            height: 5px;
            width: 100%;
            background-color: $font-color;
            position: absolute;
        }

        .line::after {
            transform: translateY(75px);
        }

        .line::before {
            transform: translateY(-75px);
        }
    }

    .about__line__container--up {
        transform: rotate(0deg) translate(0px, 0px);
        transition: 1s;
    }
}

.about--up {
    background-color: #fff;
}

@media(max-width: 768px) {
    .main {
        .main__logo {
            left: 2%;
        }

        .main__img {
            height: 80%;
            animation: none;
            opacity: 1;
        }

        .main__img--2 {
            display: none;
        }

        .main__header {
            font-size: 2.5rem;
            top: 77%;
            left: 5%;
            z-index: 5;
        }

        .main__header--second {
            font-size: 1.5rem;
            top: 85%;
            left: 5%;
            z-index: 5;
            border: none;
        }

        .main__header--second::before {
            display: none;
        }

        .main__social {
            display: flex;
            flex-direction: column;
            top: 20%;
            left: 5%;

            a {
                padding: 10px 0;

                i {
                    font-size: 1.5rem;
                }

                span {
                    display: none;
                }
            }


        }

        .main__line2 {
            z-index: 5;
        }
    }
}